@import url(../font/stylesheet.css);
body {
	font-family: 'SF UI Display', sans-serif;
	font-size: 16px;
}
.container {
	padding: 0 15px;
	min-width: 319px;
	max-width: 1440px;
	margin: 0 auto;
}
@media (max-width: 375px) {
	.container {
		padding: 0 0;
	}
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.tnw {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
p {
	overflow-wrap: break-word;
}